<h2> Nombre(s)</h2>
<h2 class="has-text-danger"> *</h2>
<input class="input" type="text" id="nombre" name="nombre" value="<%= info.nombre %>">
<br><br>
<h2> Primer Apellido </h2>
<h2 class="has-text-danger"> *</h2>
<input class="input" type="text" id="nombre" name="A1" value="<%= info.Primer_Apellido %>">
<br><br>
<h2> Segundo Apellido </h2>
<h2 class="has-text-danger"> *</h2>
<input class="input" type="text" id="nombre" name="A2" value="<%= info.Segundo_Apellido %>">
<br><br>
<h2> Correo Electronico </h2>
<h2 class="has-text-danger"> *</h2>
<input class="input" type="text" id="nombre" name="Email" value="<%= info.Correo_Electronico %>">
<br><br>
<h2> Estado Civil</h2>
<h2 class="has-text-danger"> *</h2>
<select class="input" name="ECiv" id="ECiv">
    <option value="Soltero" <% if(info.Estado_Civil == "Soltero") {%> selected <%}%>> Soltero</option>
    <option value="Casado" <% if(info.Estado_Civil == "Casado") {%> selected <%}%>> Casado</option>
</select>
<br><br>
<h2> Ocupacion </h2>
<h2 class="has-text-danger"> *</h2>
<input class="input" type="text" id="nombre" name="Ocupacion" value="<%= info.Ocupacion %>">
<br><br>
<h2> Telefono </h2>
<h2 class="has-text-danger"> *</h2>
<input  class="input"type="text" id="nombre" name="Tel" value="<%= info.Telefono %>">
<br><br>
<% let name2 = info.nombre + "^" + info.Primer_Apellido + "^" + info.Segundo_Apellido; %>
<button  class="button has-text-centered is-primary" type="submit" id="enviar" name="enviar" value="<%=name2%>"> Actualizar </button>
<input type="hidden" name="_csrf" value="<%= csrfToken %>" >